<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		
		<% if (typeof title == 'undefined') { %>
			<title>Matcha</title>
		<% } else { %>
			<title>Matcha - <%= title %></title>
		<% } %>

	</head>
	<body class="bg-light">
		<%- include('includes/_navbar.ejs'); -%>
		<main role="main">
			<div class="container my-4">
				<%- messages('includes/_messages', locals) %>
				<h4 class="mb-3">Register</h4>
				<form method="POST" action="">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="firstName">First name</label>
							<input type="text" class="form-control" id="firstName" name="first_name" value="<%= form.first_name %>" required autofocus>
							<small class="form-text text-muted" style="width: 100%;">
								First and last name should be 1-32 characters long and can contain only letters and dashes.
							</small>
						</div>

						<div class="col-md-6 mb-3">
							<label for="lastName">Last name</label>
							<input type="text" class="form-control" id="lastName" name="last_name" value="<%= form.last_name %>" required>
						</div>
					</div>

					<div class="mb-3">
						<label for="login">Login</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">@</span>
							</div>
							<input type="text" class="form-control" id="login" name="login" placeholder="Login" value="<%= form.login %>" required>
							<small class="form-text text-muted" style="width: 100%;">
								Login should be 4-24 symbols long and can contain only letters, numbers or underlines.
							</small>
						</div>
					</div>

					<div class="mb-3">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" value="<%= form.email %>" required>
						<div class="invalid-feedback">
							Please enter a valid email address.
						</div>
					</div>

					<div class="mb-3">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" name="password" required="">
						<small class="form-text text-muted" style="width: 100%;">
								Password should be 8-24 symbols long, must contain at least one uppercase letter and a number.
						</small>
					</div>

					<div class="mb-3">
						<label for="confirmPassword">Confirm password</label>
						<input type="password" class="form-control" id="confirmPassword" name="password_confirm" required>
					</div>
					<hr class="mb-4">
					<button class="btn btn-primary btn-lg btn-block" type="submit" name="submit" value="OK">Register</button>
				</form>
			</div>
		</main>
		<footer class="container"><p class="text-muted">© rtarasen 2018</p></footer>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>